[Unit]
Description=Mirror World - MWDataManagerBot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=rsadmin
WorkingDirectory=/home/rsadmin/bots/mirror-world
ExecStart=/bin/bash /home/rsadmin/bots/mirror-world/RSAdminBot/run_bot.sh datamanagerbot
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

